<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id 	= "org.apawood.productReports"
	versionCode = "1"
	version = "1.0.0">

<name>APA Product Reports</name>

<gap:plugin name="ChildBrowser" version="~3"/> <!-- for Cordova (1.9.0+)-->

<description>Get the latest APA Product Reports on your mobile device</description>

<author href = "https://www.apawood.org" email="melissa.dewalt@apawood.org">APA - The Engineered Wood Association</author>

<icon src="img/icons/icon.png"/>
<gap:splash src="splash.png" width="334" height="480"/>

<!--Android Specific Preferences -->
<preference name="android-minSdkVersion" value="8"/>
<icon src="img/icons/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="img/icons/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="img/icons/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="img/icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> 

<!--
<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
-->

<preference name="permissions" value="none"/>

</widget>